body {
    font-family: Helvetica, sans-serif;
    margin: 0% 0% 0% 0%;
    background-color: #F7FF93;
  }
a{
  color:white;
  text-decoration: none;
}
  .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: #005555;
    padding: 10px;
    height: 50px;
  }

.portada img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.trama{
   
  width: 500px;
  margin-left: 30%;
  text-align: center;
  padding: 50px;
}

h1{
  padding: 50px;
  display: flex;
  justify-content: center;
}


.Personajes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Personajes img{
  width: 300px;
  margin: 5px;
  padding: 10px;
  
}

.Personajes div{
  border: 5px solid #A1E3D8;
  padding: 5px;
}

.Video{
  display: flex;
  justify-content: center;
}

.pie{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #005555;
  padding: 10px;
  height: 50px;
  margin-top: 20px;

}

